/* @font-face {
  font-family: '__GGSANS';
  font-weight: 700;
  src: url('/fonts/ggsans-Bold.woff2') format('woff2');
  font-display: swap;
} */

/* @font-face {
  font-family: '__GGSANS';
  font-weight: 500;
  src: url('/fonts/ggsans-Medium.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: '__GGSANS';
  font-weight: 400;
  src: url('/fonts/ggsans-Normal.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'fontLogo';
  font-weight: 600;
  src: url('/fonts/logo.woff2') format('woff2');
  font-display: swap;
} */
