*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "__GGSANS", sans-serif;
  background-color: var(--background);
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  padding: 0;
  margin: 0;
  margin-block-end: 0;
  /* cursor: pointer; */
}

a {
  text-decoration: none;
  /* cursor: default; */
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-family: sans-serif;
  line-height: 1.5;
  background-color: black;
  /* background-color: var(--background); */
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
  /* cursor: pointer; */
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentcolor;
}

img,
picture,
svg,
canvas {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}

input,
/* button, */
  textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* textarea:not([rows]) {
  min-height: 10em;
} */
