:root {
  /* --background: hsl(0deg 0% 3.9%);
  --background-nav: hsl(283deg 50% 7%);
  --foreground: hsl(0deg 0% 98%);
  --nav-bg: rgb(0 0 0);
  --card: hsl(0deg 0% 3.9%);
  --card-foreground: hsl(0deg 0% 98%);
  --popover: hsl(0deg 0% 3.9%);
  --popover-foreground: hsl(0deg 0% 98%);
  --primary: hsl(0deg 0% 98%);
  --primary-foreground: hsl(0deg 0% 9%);
  --secondary: hsl(0deg 0% 14.9%);
  --secondary-foreground: hsl(0deg 0% 98%);
  --muted: hsl(0deg 0% 14.9%);
  --muted-foreground: hsl(0deg 0% 63.9%);
  --accent: hsl(0deg 0% 14.9%);
  --accent-foreground: hsl(0deg 0% 98%);
  --destructive: 0deg 62.8% 30.6%;
  --destructive-foreground: hsl(0deg 0% 98%);
  --border: hsl(0deg 0% 14.9%);
  --input: hsl(0deg 0% 14.9%);
  --ring: hsl(0deg 0% 83.1%);
  --border-mess: #38bdf8; */
}

@custom-media --xxl (max-width: 1535px);
@custom-media --xl (max-width: 1279px);
@custom-media --lg (max-width: 1023px);
@custom-media --md (max-width: 767px);
@custom-media --sm (max-width: 639px);